.header {
  @include flexCenterBetween();
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  padding: 24px 40px;
  @include breakMaxWidth($breakpointIpad) {
    padding: 24px 16px;
  }
  &__logo {
    img {
      position: relative;
      vertical-align: 10px;
    }
  }
  &__nav {
    @include breakMaxWidth($breakpointHeaderNav) {
      overflow-x: hidden;
      pointer-events: none;
      visibility: hidden;
    }

    &,
    &::before {
      @include breakMaxWidth($breakpointHeaderNav) {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .header__navBar {
      @include flexCenterBetween();
    }
  }
}
