// wrapper
// ------------------------------------
.wrapper {
  overflow: hidden;
}

// main
// ------------------------------------
.main {
  padding: 16px;
}

// concept
// ------------------------------------
.concept {
  margin-bottom: 120px;
  text-align: center;
}
