// header
// ------------------------------------
.header {
  font-size: 1.3rem;
  &__navList {
    &,
    .header__navItem,
    .header__navItem a {
      @include flexCenteringWithJustify(space-between);
      @include breakMaxWidth($breakpointHeaderNav) {
        display: block;
      }
    }
    .header__navItem {
      @include breakMaxWidth($breakpointHeaderNav) {
        margin-bottom: 0.5em;
      }
      @include breakMaxWidth($breakpointHeaderNav) {
        .icon {
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 2px;
            background: $colorWhite;
            top: calc(50% - 0.1em);
            left: calc(100% + 0.5em);
            transition: transform $transitionSpeedFast $easeOutCubic;
          }
          &::after {
            transform: rotate(-90deg);
          }
        }
      }
      a {
        position: relative;
        color: inherit;
        font-weight: bold;
        font-feature-settings: "palt";
        height: 56px;
        padding: 0 16px;
        letter-spacing: 0.07em;
        line-height: 1;
        @include breakMaxWidth($breakpointDesktop) {
          padding: 0 8px;
          letter-spacing: normal;
        }
        @include breakMaxWidth($breakpointHeaderNav) {
          display: block;
          padding: 0.5em 16px;
          height: auto;
          &.isShow {
            .icon {
              &::after {
                transform: none;
              }
            }
          }
        }
        @include breakMaxWidth($breakpointHeaderNav) {
          line-height: normal;
        }

        &::before {
          @include breakMinWidth($breakpointHeaderNav) {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $colorMenuHoverBg;
            opacity: 0;
            transform: $scaleBeforeHover;
            transition: opacity $transitionSpeedFast, transform $transitionSpeedFast $easeOutCubic;
          }
        }

        &:hover {
          &::before {
            @include breakMinWidth($breakpointHeaderNav) {
              opacity: $opacityStandard;
              transform: none;
            }
          }
        }
      }

      & > a {
        height: 104px;
        @include breakMaxWidth($breakpointHeaderNav) {
          height: auto;
          font-weight: bold;
          font-size: 1.8rem;
        }
      }

      &--about {
        a:hover {
          @include breakMinWidth($breakpointHeaderNav) {
            color: $colorMenuHoverAbout;
          }
        }
        a + .childNavList::before {
          background: linear-gradient(to right, #ff9c00, #ffd200);
        }
      }
      &--culture {
        a:hover {
          @include breakMinWidth($breakpointHeaderNav) {
            color: $colorPrimary;
          }
        }
      }
      &--member {
        a:hover {
          @include breakMinWidth($breakpointHeaderNav) {
            color: $colorMenuHoverMember;
          }
        }
      }
      &--special {
        a:hover {
          @include breakMinWidth($breakpointHeaderNav) {
            color: $colorMenuHoverSpecial;
          }
        }
      }
      &--graduates {
        a:hover {
          @include breakMinWidth($breakpointHeaderNav) {
            color: $colorMenuHoverGraduates;
          }
        }
      }
      &--info {
        a:hover {
          @include breakMinWidth($breakpointHeaderNav) {
            color: $colorPrimary;
          }
        }
      }
    }
  }
  // .header .childNavList
  .childNavList {
    @include flexCenteringWithJustify(center);
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: rotateX(-90deg);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    @include breakMaxWidth($breakpointHeaderNav) {
      display: none;
      position: relative;
      top: initial;
      left: initial;
      visibility: initial;
      opacity: 1;
      transform-origin: initial;
      transform: initial;
    }
    &::before {
      @include breakMinWidth($breakpointHeaderNav) {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: $opacityDark;
      }
    }

    &.isActive {
      @include breakMinWidth($breakpointPhone) {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        transform: none;
      }
    }
    // アニメーション関連
    &.isAnima {
      @include breakMinWidth($breakpointHeaderNav) {
        transition: opacity $transitionSpeedVeryFast, transform $transitionSpeedFast, visibility $transitionSpeedFast;
      }
    }
    &.isActive.isAnima {
      @include breakMinWidth($breakpointHeaderNav) {
        transition-duration: $transitionSpeedFast, $transitionSpeedFast, 0s;
      }
    }

    li {
      @include breakMinWidth($breakpointHeaderNav) {
        flex: 0 0 auto;
        height: 80px;
      }
    }
    a {
      @include breakMinWidth($breakpointHeaderNav) {
        position: relative;
        height: 80px;
        padding: 0 24px;
        color: $colorWhite;
        font-size: 1.4rem;
      }
    }
  }
}

// concept
// ------------------------------------
.concept {
  .servicesProvided {
    &__list {
      @include flexCenteringWithJustify(center);
      flex-wrap: nowrap;
      max-width: 800px;
      padding: 0;
      margin: 0 auto;
      @include breakMaxWidth($breakpointPhone) {
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 416px;
        padding: 0 16px;
      }
      li {
        display: block;
        max-width: calc(100% / 3);
        margin: 8px;
        @include breakMaxWidth($breakpointPhone) {
          display: list-item;
          margin: 4px 0;
        }
        img {
          &.logoImghpBeauty {
            width: 111px;
            height: 35px;
            @include breakMaxWidth($breakpointPhonePortrait) {
              width: calcPhonePortraitVal(111);
              height: auto;
            }
          }
          &.logoImghpGourmet {
            width: 106px;
            height: 36px;
            @include breakMaxWidth($breakpointPhonePortrait) {
              width: calcPhonePortraitVal(106);
              height: auto;
            }
          }
          &.logoImgJaran {
            width: 117px;
            height: 40px;
            @include breakMaxWidth($breakpointPhonePortrait) {
              width: calcPhonePortraitVal(117);
              height: auto;
            }
          }
          &.logoImgPonpare {
            width: 112px;
            height: 44px;
            @include breakMaxWidth($breakpointPhonePortrait) {
              width: calcPhonePortraitVal(112);
              height: auto;
            }
          }
          &.logoImgAirregi {
            width: 114px;
            height: 24px;
            @include breakMaxWidth($breakpointPhonePortrait) {
              width: calcPhonePortraitVal(114);
              height: auto;
            }
          }
          &.logoImgSalonboard {
            width: 117px;
            height: 58px;
            @include breakMaxWidth($breakpointPhonePortrait) {
              width: calcPhonePortraitVal(117);
              height: auto;
            }
          }
        }
      }
    }
  }
}

// footer
// ------------------------------------
.footer {
  &__link {
    ul {
      width: 49.5%;
      margin: 1em 0;
      @include breakMaxWidth($breakpointPhone) {
        width: auto;
        margin: 0;
      }
      &:first-child {
        padding-right: 5%;
        @include breakMaxWidth($breakpointPhone) {
          padding-right: 0;
        }
      }
      li {
        a {
          display: block;
          line-height: 2.4;
          letter-spacing: 0.5px;
          white-space: nowrap;
          font-size: 1.2rem;
          color: $colorBlack;
          @include breakMaxWidth($breakpointPhone) {
            line-height: 2;
          }
        }
      }
    }
  }
}
