// visual
// ------------------------------------
.visual {
  &__logoTitle {
    position: absolute;
    top: calc(50% - 100px);
    left: 0;
    transform: none;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 16px;
    text-align: center;
    @include breakMaxWidth($breakpointSP) {
      top: 54%;
      left: 50%;
      max-width: 375px;
      transform: translate(-50%, -50%);
    }
    .title {
      display: inline-block;
      position: relative;
      width: 100%;
      img {
        width: 100%;
      }
      &--1 {
        width: 100%;
        max-width: 800px;
        margin-bottom: 20px;
        @include breakMaxWidth($breakpointSP) {
          max-width: initial;
          margin-bottom: 2.5vw;
        }
      }
      &--2 {
        width: 78.3%;
        max-width: 626px;
        margin-left: 4vw;
        margin-bottom: 20px;
        @include breakMaxWidth($breakpointSP) {
          max-width: initial;
        }
      }
    }
  }
}

// concept
// ------------------------------------
.concept {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    @include breakMaxWidth($breakpointSP) {
      margin-bottom: 0;
    }
    span {
      display: inline-block;
    }
    .bg {
      width: 513px;
      height: 82px;
      margin-bottom: -40px;
      @include breakMaxWidth($breakpointSP) {
        width: calc(256vw * 1.5 / 4.8);
        height: auto;
        margin-bottom: calc(-24vw / 4.8);
      }
      img {
        @include breakMaxWidth($breakpointSP) {
          width: 100%;
        }
      }
    }
    .title {
      display: inline-block;
      margin: 14px 0;
      @include breakMaxWidth($breakpointSP) {
        margin: calc(8vw / 4) 0;
      }
      &--1 {
        padding-left: 24px;
        @include breakMaxWidth($breakpointSP) {
          padding-left: calc(16vw / 4.8);
        }
        img {
          width: 621px;
        }
      }
      &--2 {
        padding-right: 24px;
        @include breakMaxWidth($breakpointSP) {
          padding-right: calc(16vw / 4.8);
        }
        img {
          width: 625px;
        }
      }
      &--1,
      &--2 {
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(285vw * 1.5 / 4.8);
        }
        img {
          height: 48px;
          @include breakMaxWidth($breakpointSP_Portrait) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  &__lead {
    margin-bottom: 56px;
    @include breakMaxWidth($breakpointSP) {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
    .lead {
      display: inline-block;
      margin: 14px 0;
      @include breakMaxWidth($breakpointSP) {
        margin-top: calc(8vw / 4);
        margin-bottom: calc(8vw / 4);
      }
    }
    &--pc {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakMaxWidth($breakpointSP) {
        display: none;
      }
      .lead {
        &--1 {
          width: 521px;
        }
        &--2 {
          width: 533px;
        }
        &--3 {
          width: 447px;
        }
        &--4 {
          width: 396px;
        }
        &--5 {
          width: 596px;
        }
      }
    }
    &--sp {
      display: none;
      margin-bottom: 56px;
      @include breakMaxWidth($breakpointSP) {
        display: block;
        margin-bottom: calc(40vw / 4.8);
      }
      .lead {
        &--1 {
          width: 255px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(170vw * 1.5 / 4.8);
          }
        }
        &--2 {
          width: 236px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(157vw * 1.5 / 4.8);
          }
        }
        &--3 {
          width: 267px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(178vw * 1.5 / 4.8);
          }
        }
        &--4 {
          width: 248px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(165vw * 1.5 / 4.8);
          }
        }
        &--5 {
          width: 441px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(294vw * 1.5 / 4.8);
          }
        }
        &--6 {
          width: 323px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(215vw * 1.5 / 4.8);
          }
        }
        &--7 {
          width: 350px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(233vw * 1.5 / 4.8);
          }
        }
        &--8 {
          width: 300px;
          @include breakMaxWidth($breakpointSP) {
            width: calc(200vw * 1.5 / 4.8);
          }
        }
      }
    }
  }
  // .concept .servicesProvided
  .servicesProvided {
    &__title {
      display: inline-block;
      width: calc(64px * 1.5);
      margin-bottom: 8px;
      @include breakMaxWidth($breakpointSP) {
        width: calc(64vw * 1.5 / 4.8);
        margin-bottom: 24px;
      }
      @include breakMaxWidth($breakpointSP_Portrait) {
        margin-bottom: calc(24vw / 4.8);
      }
      img {
        width: auto;
        @include breakMaxWidth($breakpointSP) {
          width: 100%;
        }
      }
    }
  }
}

// column
// ------------------------------------
.column {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 48px;
    line-height: 1;
    @include breakMaxWidth($breakpointSP) {
      margin: 0 0 24px;
      align-items: flex-end;
    }
    .num {
      position: absolute;
      right: 0;
      opacity: 0.6;
      @include breakMaxWidth($breakpointSP) {
        top: -80px;
        opacity: 0.4;
      }
      img {
        width: auto;
        height: 208px;
        @include breakMaxWidth($breakpointSP) {
          height: 120px;
        }
      }
    }
    .ja {
      display: block;
      margin-bottom: 24px;
      @include breakMaxWidth($breakpointSP) {
        margin-bottom: 8px;
      }
      img {
        width: 100%;
      }
    }
    .en {
      display: block;
      width: auto;
      @include breakMaxWidth($breakpointSP_Portrait) {
        width: calc(92vw / 4.8);
      }
      img {
        max-width: 100%;
        height: 100%;
        @include breakMaxWidth($breakpointSP_Portrait) {
          height: auto;
        }
      }
    }
  }

  // .column modifiers
  &--reverse {
    .column__title {
      align-items: flex-start;
      .num {
        right: auto;
      }
    }
  }
  &--culture {
    .column__title {
      .num {
        top: 0;
        left: -120px;
        @include breakMaxWidth($breakpointSP) {
          left: auto;
        }
      }
      .ja {
        @include breakMaxWidth($breakpointSP) {
          width: 253px;
        }
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(158vw * 1.6 / 4.8);
        }
      }
    }
  }
  &--skill {
    .column__title {
      .num {
        top: 0;
        left: -120px;
      }
      .ja {
        @include breakMaxWidth($breakpointSP) {
          width: 392px;
        }
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(245vw * 1.6 / 4.8);
        }
      }
    }
  }
  &--member {
    .column__title {
      .num {
        top: -16px;
        right: -168px;
        z-index: 1;
        @include breakMaxWidth($breakpointSP) {
          right: auto;
        }
      }
      .ja {
        @include breakMaxWidth($breakpointSP) {
          width: 216px;
        }
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(135vw * 1.6 / 4.8);
        }
      }
    }
  }
  &--special {
    .column__title {
      .num {
        top: 56px;
        right: -200px;
      }
      .ja {
        @include breakMaxWidth($breakpointSP) {
          width: 394px;
        }
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(246vw * 1.6 / 4.8);
        }
      }
      .en {
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(146vw / 4.8);
        }
      }
    }
  }
  &--graduates {
    .column__title {
      .num {
        top: 0;
        left: -144px;
        @include breakMaxWidth($breakpointSP) {
          left: auto;
        }
      }
      .ja {
        @include breakMaxWidth($breakpointSP) {
          width: 274px;
        }
        @include breakMaxWidth($breakpointSP_Portrait) {
          width: calc(171vw * 1.6 / 4.8);
        }
      }
    }
  }

  &--skill,
  &--special {
    .column__title {
      .num {
        @include breakMaxWidth($breakpointSP) {
          left: -32px;
        }
      }
    }
  }

  & &__title {
    .num {
      @include breakMaxWidth($breakpointSP) {
        top: -80px;
      }
    }
  }
}
